* {
    margin:0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

canvas{
    background-image: radial-gradient(circle, rgb(242, 203, 171), rgb(242, 134, 0));
}

.webgl {
    position: fixed;
    top:0;
    left: 0;
    outline: none;
    
}

